/* main */
.first-image-container{
    height: 100vh;
    overflow-y: hidden;
}
.first-image-container img{
    width: 100%;
}
/* about section*/
.about{
    min-height: 100vh;
    position: relative;
    background-color: #dbe9fa;
    padding-bottom: 150px;
    z-index: -2;/*para funcionar o .plans::after*/
}
.about h1{
    font-size: 4rem;
    color: var(--l-dark-blue);
    text-align: center;
    border-bottom: 2px solid var(--l-dark-purple);
    margin: 0 4rem 3rem;
    padding: 15px 0;
}
.article-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.article-container p{
    font-size: 1.4rem;
    text-align: justify;
    width: 40%;
}
.plans{
    min-height: 100vh;
    background-color: #080927;
    position: relative;
}
.plans::after{
    position: absolute;
    content: '';
    background: inherit;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform-origin: bottom right;
    transform: skewY(5deg);
    z-index: -1;
}
.call-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.call-container img{
    width: 10%;
    border: 1px solid var(--l-yellow);
    margin: 20px;
}
.plans h2{
    display: inline;
    color: #1b559d;
    font-size: 3rem;
    text-transform: uppercase;
}
.separate{
    border: 1px solid white;
    /* box-shadow: 2px -1px 10px red; */
    animation: led 2s ease-in-out infinite;
    width: 10%;
    transform: rotateZ(90deg);
}
.destaque{
    color: var(--l-red);
}
.work-container{
    text-align: center;
    margin-top: 50px;
    padding-top: 35px;
}
.video-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px;
    align-items: center;
    padding: 4rem;
}
.video-container iframe {
    border-radius: 2rem;
    border: 4px groove var(--l-yellow);
    gap: 20px;
    object-fit: cover;
    transition: 1s;
}
.video{
    display: flex;
    flex-direction: column;
    gap: 20px;

    border: 1px solid var(--l-yellow);
    padding: 20px 35px;
    border-radius: .5rem;
    background-color: var(--l-dark-blue);
    box-shadow: 5px 5px 7px rgba(37, 37, 37, 0.644);
}
.video .know-btn{
    padding: 10px 0;
    border-radius: .5rem;
    background-color: transparent;
    border: 1px solid var(--l-yellow);
    color: var(--l-yellow);
    font-size: 1.2rem;
    transition: .5s;
}
.video .know-btn:hover{
    background-color: var(--l-yellow);
    color: var(--l-dark-purple);
    border: 1px solid var(--l-dark-purple)
}
