/* main */
.first-image-container{
    height: 100vh;
    overflow-y: hidden;
}
.first-image-container img{
    width: 100%;
}
/* about section*/
.about{
    min-height: 100vh;
    position: relative;
    background-color: #dbe9fa;
    padding-bottom: 150px;
    z-index: -2;/*para funcionar o .plans::after*/
}
.about h1{
    font-size: 4rem;
    color: var(--l-dark-blue);
    text-align: center;
    border-bottom: 2px solid var(--l-dark-purple);
    margin: 0 4rem 3rem;
    padding: 15px 0;
}
.momentum-color{
    color: var(--l-red);
}
.article-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.article-container p{
    font-size: 1.4rem;
    text-align: justify;
    width: 40%;
}
.article-container img{
    width: 30%;
    height: 15%;
    border-radius: 2rem;
    box-shadow: 4px 4px 5px rgba(128, 128, 128, 0.582);
    filter: drop-shadow(100%);
}
.plans{
    min-height: 100vh;
    background-color: #080927;
    position: relative;
}
.plans::after{
    position: absolute;
    content: '';
    background: inherit;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform-origin: bottom right;
    transform: skewY(5deg);
    z-index: -1;
}
.call-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.call-container img{
    width: 10%;
    border: 1px solid var(--l-yellow);
    margin: 20px;
}
.plans h2{
    display: inline;
    color: #1b559d;
    font-size: 3rem;
    text-transform: uppercase;
}
.separate{
    border: 1px solid white;
    /* box-shadow: 2px -1px 10px red; */
    animation: led 2s ease-in-out infinite;
    width: 10%;
    transform: rotateZ(90deg);
}
.destaque{
    color: var(--l-red);
}
.work-container{
    text-align: center;
    margin-top: 50px;
    padding-top: 35px;
}
.video-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px;
    align-items: center;
    padding: 4rem;
}
.video-container iframe {
    border-radius: 2rem;
    border: 4px groove var(--l-yellow);
    gap: 20px;
    object-fit: cover;
    transition: 1s;
}
.video{
    display: flex;
    flex-direction: column;
    gap: 20px;

    border: 1px solid var(--l-yellow);
    padding: 20px 35px;
    border-radius: .5rem;
    background-color: var(--l-dark-blue);
    box-shadow: 5px 5px 7px rgba(37, 37, 37, 0.644);
}
.video .know-btn{
    padding: 10px 0;
    border-radius: .5rem;
    background-color: transparent;
    border: 1px solid var(--l-yellow);
    color: var(--l-yellow);
    font-size: 1.2rem;
    transition: .5s;
}
.video .know-btn:hover{
    background-color: var(--l-yellow);
    color: var(--l-dark-purple);
    border: 1px solid var(--l-dark-purple)
}
.card-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.637);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 650px;
    height: 400px;
    background-color: white;
    border-radius: 2rem;
    box-shadow: 3px 3px 5px black;
    padding: 10px;
    display: flex;
    gap: 20px;
    position: relative;
}
.close-btn{
    position: absolute;
    top: 10px;
    right: 15px;
    border: none;
    padding: 0 8px 3px;
    border-radius: 20px;
    font-size: 1.2rem;
    background-color: var(--l-dark-blue);
    color: white;
    cursor: pointer;
    transition: .3s;
}
.close-btn:hover{
    transform: translateY(-10%);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.295);
}
.card-info ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.2rem;
    width: 100%;
    height: 100%;
    padding-left: 15px;
}
.card-info ul li{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card-info li p{
    border-bottom: 1px solid var(--l-yellow);
}
.card-name{
    font-weight: bold;
    padding-left: 20px;
}
li a.whats-link{
    display: flex;
    gap: 10px;
    color: var(--l-dark-purple);
    background-color: var(--l-yellow);
    padding: 0 8px;
    margin-top: 15px;
    border-radius: 5px;
}
.card-image{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 50px;
}
.card-image img:nth-child(1){
    width: 200px;
}
.card-image img:nth-child(2){
    width: 150px;
}
.hide{
    display: none;
}
.true-hidden{
    overflow: hidden;
}